
*{ margin: 0; padding: 0; box-sizing: border-box; 
font-family: 'Poppins', sans-serif; 
background-color: #4a5f3c28;}
h1{ font-size: 2.5rem; color: #333; text-align: center; margin-top: 50px;
background-color: rgba(90, 133, 146, 0.829)9);
padding: 20px; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); }
button{ display: cursor; 
    text-align: left;
    align-items: left;
    width: 200px; 
    margin: 20px auto; 
    padding: 10px; 
    font-size: 1.2rem; 
    color: #fff; 
    background-color: #7950f2;
     border: none; 
     border-radius: 5px; 
     cursor: pointer; 
     transition:background-color 0.3s ease; }
button:hover{ background-color: #22154569;}
nav {
    text-align: left;
    background-color: lightgray;
}

button {
    display: block;
}
body {
    background-color: rgba(31, 80, 97, 0.274);
}
form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #d6cccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
form button {
    width: 100%;
    padding: 10px;
    background-color: #7950f2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form button:hover {
    background-color: #63085769;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #975d1000;
    border-top: 1px solid #9c2121;
}
button{
    display: inline-block;
    margin: 5 20px;
}